@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Normalize CSS */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Basic CSS */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #454545;
  background-color: #fff;
}

body,
input,
textarea,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
fieldset,
ul,
ol,
menu,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

input,
textarea,
button,
fieldset,
iframe {
  border: 0;
}

input,
textarea {
  font-size: 100%;
  appearance: none;
  -webkit-appearance: none;
}

fieldset,
nav ul,
nav ol,
button,
menu {
  padding: 0;
}

textarea {
  resize: none;
}

:focus {
  outline: none;
}

/* Icons */
.icon {
  display: inline-block;
  width: inherit;
  height: inherit;
  color: inherit;
  margin-top: -2px;
  fill: currentColor;
  vertical-align: middle;
}

.icon--twitter,
.icon--facebook,
.icon--linkedin,
.icon--youtube {
  width: 18px;
  height: 18px;
}

.icon--envelope {
  width: 18px;
  height: 18px;
}

/* Buttons */
.button {
  display: inline-block;
  background: transparent;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 700;
}

.button--primary {
  border: 2px solid #0aa69b;
}

.button--primary:hover {
  color: #fff;
  background-color: #0aa69b;
  transition: all 250ms;
}

.button--secondary {
  color: #fff;
  background-color: #0aa69b;
  border-radius: 50px;
  border: 2px solid #0aa69b;
}

.button--secondary:hover {
  background: transparent;
  transition: all 250ms;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.clear::after {
  content: "";
  clear: both;
  display: table;
}

/* Header Top */
.header__top {
  height: 45px;
  background-color: #0aa69b;
}
.header__top-text {
  color: #fff;
  font-size: 12px;
  line-height: 45px;
}

/* Header */
.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  max-width: 250px;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.header__search {
  width: 515px;
}

.header__search-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
}

.header__search-input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  padding-right: 30px;
  color: #565656;
  font-size: 14px;
  border: 2px solid #0aa69b;
  border-radius: 5px;
}

.header__search-input::placeholder {
  line-height: 25px;
}

.header__search-button {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-left: -42px;
  background: none;
  cursor: pointer;
}

.header__search-button-icon {
  width: 14px;
  height: 14px;
  color: #0aa69b;
  margin-top: 0;
}

.header__mobile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 260px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #0aa69b;
  border-radius: 5px;
}

.header__mobile-link {
  display: block;
  margin-top: 5px;
  font-weight: 400;
}

.header__mobile-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  text-align: center;
  line-height: 30px;
  color: #0aa69b;
  background-color: #fff;
  border-radius: 100%;
}

.header__mobile-icon .icon {
  width: 15px;
  height: 15px;
}

/* Banners */
.banners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -5px;
  margin-left: -5px;
}

.banner__item {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 10px;
}

.banner__image {
  width: 100%;
  height: auto;
}

/* Breadcrumb */
.breadcrumb {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.breadcrumb__link {
  display: inline-block;
  font-size: 14px;
}

.breadcrumb__link:hover {
  color: #0aa69b;
}

.breadcrumb__link--active {
  color: #0aa69b;
}

.breadcrumb__link .icon--home {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.breadcrumb .icon--seperator {
  position: relative;
  top: 1px;
  width: 10px;
  height: 10px;
  margin: 0 10px;
}

/* Flat Page */
.flat-page__content {
  margin-top: 30px;
}

.flat-page__content--two-column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.flat-page__content--two-column .flat-page__text {
  padding-left: 20px;
}

.flat-page__title {
  margin-top: 30px;
}

.flat-page__title-text {
  font-size: 38px;
}

.flat-page__title span{
  color: #0aa69b;
  border-bottom: 1px solid #0aa69b;
}

.flat-page__text {
  color: #7f7f7f;
  font-size: 14px;
  line-height: 22px;
}

.flat-page__text p {
  margin-top: 20px;
}

.flat-page__text p:first-child {
  margin-top: 0;
}

/* Error Page */
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-page__title {
  margin-bottom: 20px;
  font-size: 50px;
}

.error-page__sub-title {
  font-size: 24px;
}

.error-page .button {
  margin-top: 30px;
}

/* Footer */
.footer {
  padding-top: 25px;
  margin-top: 30px;
  text-align: center;
  background-color: #e7e7e7;
}

.footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__title {
  display: inline-block;
  margin-right: 15px;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 700;
}

.footer__social,
.footer__newsletter {
  width: 50%;
  text-align: center;
}

.footer__newsletter-form {
  display: inline-block;
}

.footer__newsletter-input {
  display: inline-block;
  height: 36px;
  width: 220px;
  padding-left: 8px;
  padding-right: 5px;
  font-size: 14px;
  border-radius: 0;
}

.footer__newsletter-input::placeholder {
  line-height: 24px;
}

.footer__social-link {
  margin-left: 5px;
  width: 38px;
  height: 36px;
  color: #fff;
  line-height: 36px;
}

.footer__newsletter-button {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  background-color: #0aa69b;
  cursor: pointer;
}
.footer__social-links {
  display: inline-block;
}
.footer__social-link--twitter {
  background-color: #55ACEE;
}
.footer__social-link--facebook {
  background-color: #3B5998;
}
.footer__social-link--linkedin {
  background-color: #00A0DC;
}
.footer__social-link--youtube {
  background-color: #CD201F;
}

.footer__copyright {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
.footer__copyright-text {
  color: #666;
  font-size: 12px;
}
.footer__copyright-link {
  display: inline-block;
  margin-left: 5px;
}

.footer__copyright-link:first-child::after {
  content: '|';
  display: inline-block;
  padding-left: 5px;
}

.footer__copyright-link:hover {
  color: #0aa69b;
  text-decoration: underline;
}
