@media (max-width: 767px) {
  /* Header Top */
  .header__top {
    text-align: center;
  }

  /* Header */
  .header .container {
    flex-direction: column;
    justify-content: center;
  }

  .header__logo {
    max-width: 200px;
  }

  .header__search {
    width: 100%;
    margin-top: 15px;
  }

  /* Banners */
  .banners {
    flex-wrap: wrap;
  }

  .banner__item {
    width: 50%;
  }

  /* Footer */
  .footer .container {
    flex-direction: column;
  }

  .footer__title {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
  }

  .footer__newsletter,
  .footer__social {
    width: 100%;
    float: none;
  }

  .footer__newsletter-button {
    position: relative;
    top: 1px;
    width: 50px;
  }

  .footer__social {
    margin-top: 35px;
  }

  .footer__social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer__social-link {
    width: 100%;
    height: 45px;
    line-height: 45px;
  }

  .footer__copyright {
    margin-top: 20px;
    font-size: 12px;
  }
}

